.recipes {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  max-height: 800px;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter", "Ariel", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 24px;
}
.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-bottom: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.recipes__video-type-content {
  border: none;
}
.recipes__video-caption {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption-type-title {
  font-family: "Inter", "Ariel", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.recipes__video-caption-type-time {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
