.recipes {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter", "Ariel", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-block-start: 0;
  margin-bottom: 24px;
}
.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-bottom: 80px;
  margin-block-start: 0;
}

.recipes__videos {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  column-gap: 40px;
}

.recipes__video {
  width: 480px;
  height: 273px;
  border: none;
}
.recipes__video-caption {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.recipes__caption {
  font-family: "Inter", "Ariel", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
